<!DOCTYPE html>
	<html>
		<head>
			<title>{{ page.title }}</title>
			<!-- link to main stylesheet -->
			<link rel="stylesheet" type="text/css" href="/css/main.css">
		</head>
		<body>
			<nav>
	    		<ul>
	        		<li style="font-size: 24px; font-weight: bold;"><a style="text-decoration: none; color: black;">Jun Ho Chai</a></li>
	        		<!-- <li><a href="/about">About</a></li> -->
				<li><a href="/files/ChaiJunHo_CV.pdf">CV</a></li>
	        		<li><a href="https://scholar.google.com/citations?user=Mdylz0QAAAAJ">Papers</a></li>
        			<li><a href="tutorials.html">Tutorials</a></li>
	    		</ul>
			</nav>
			<div class="container">
			
			{{ content }}
			
			</div><!-- /.container -->
			<footer>
	    		<ul>
	        		<li><a href="mailto:junhoc94@gmail.com">email</a></li>
	        		<li><a href="Github">https://junhochai.github.io/</a></li>
				</ul>
			</footer>
		</body>
	</html>
